body {
    background-color: antiquewhite;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(max-width: 770px){
    .countainer{
        margin: 0 10%;
    }
}